*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: blue;
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    padding: 1rem .5rem;
    background-color: red;
    
}